<nav class="bg-black navbar navbar-expand-lg navbar-dark bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Emi Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="list-clients" id="navbarDropdownClients" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Clients
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="list-clients">All Clients</a></li>
            <li><a class="dropdown-item" href="add-client">Add Client</a></li>
            <li><a class="dropdown-item" href="edit-client">Update Client</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownProducts" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="list-products">All Products</a></li>
            <li><a class="dropdown-item" href="#">Add Product</a></li>
            <li><a class="dropdown-item" href="#">Update Product</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownCommands" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Commands
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="list-commands">All Commands</a></li>
            <li><a class="dropdown-item" href="#">Add Command</a></li>
            <li><a class="dropdown-item" href="#">Update Command</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
